* {
    font-size: 12px;
    color: #bec8e7;
    font-weight: 500;
    font-family: "JetBrainsMono NFP";
    margin: 0;
    padding: 0;
}
.yasb-bar {
    padding: 0;
    margin: 0;
}
.widget {
    padding: 0 8px;
    margin: 0 4px;
    border-radius: 6px;
}
.widget .icon {
    font-size: 18px;
}
.win-btn {
    background-color: #e5c890;
}
.win-btn .icon {
    color: #232634;
}
.komorebi-workspaces {
    background-color: #232634;
}
.komorebi-workspaces .offline-status {
    color: #51576d;
    font-size: 12px;
    padding: 0 4px;
    font-weight: 600;
}
.komorebi-workspaces .ws-btn {
    border: none;
    background-color: #99d1db;
    margin: 0px 4px;
    padding: 0;
    color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    height: 10px;
    width: 10px;
}
.komorebi-workspaces .ws-btn:hover {
    background-color: #8caaee;
}
.komorebi-workspaces .ws-btn.populated {
    background-color: #e78284;
}

.komorebi-workspaces .ws-btn.active {
    color: rgba(149, 177, 255, 0);
    background-color: #ca9ee6;
    width: 36px;
    height: 10px;
    border-radius: 5px;
}
.traffic-widget {
    background-color: #81c8be;
    padding: 0;
}
.traffic-widget .icon {
    color: #232634;
    padding-right: 6px;
    padding-left: 6px;
}
.traffic-widget .label {
    background-color: #232634;
    margin: 1px;
    border-radius: 6px;
    padding: 0 6px;
    color: #81c8be;
    min-width: 180;
}
.cpu-widget {
    background-color: #e78284;
    padding: 1;
}
.cpu-widget .icon {
    color: #232634;
    padding-right: 6px;
    padding-left: 6px;
}
.cpu-widget .label {
    background-color: #232634;
    margin: 1px;
    border-radius: 6px;
    padding: 0 6px;
    color: #e78284;
    min-width: 40;
}
.microphone-widget {
    background-color: #8caaee;
    padding: 1;
}
.microphone-widget .icon {
    color: #232634;
    padding-right: 6px;
    padding-left: 6px;
}
.microphone-widget .label {
    background-color: #232634;
    margin: 1px;
    border-radius: 6px;
    padding: 0 6px;
    color: #8caaee;
    min-width: 40;
}
.media-widget {
    background-color: #c2a8e3;
    padding: 1;
}
.media-widget .label {
    background-color: #232634;
    margin: 1px;
    border-radius: 6px;
    padding: 0 6px;
    color: #c2a8e3;
    min-width: 40;
}
.media-widget .btn {
    color: #232634;
    padding-right: 6px;
    padding-left: 6px;
    font-family: Segoe Fluent Icons;
    font-weight: 800;
}
.media-widget .btn:hover {
    color: #232634;
}
.media-widget .btn.play {
    font-size: 16px;
}
.media-widget .btn.disabled:hover,
.media-widget .btn.disabled {
    color: #232634;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0);
}
.disk-widget {
    background-color: #8caaee;
    padding: 1;
}
.disk-widget .icon {
    color: #232634;
    padding-right: 6px;
    padding-left: 6px;
}
.disk-widget .label {
    background-color: #232634;
    margin: 1px;
    border-radius: 6px;
    padding: 0 6px;
    color: #8caaee;
    min-width: 40;
}
.disk-group {
    background-color:#232634;
}
.disk-group-row {
    min-width: 220px;
    max-width: 220px;
    max-height: 40px;
    margin: 0;
    padding: 0;
    border-radius: 6px;
    border: 1px solid#232634;
}
.disk-group-row:hover {
    background-color:#8caaee;
    border: 1px solid #8caaee
}
.disk-group-label-bar{
    max-height:8px;
    border:0px solid #232634;
    background-color: #303446;
    border-radius: 4px
}
.disk-group-label-bar::chunk{
    background-color: #51576d;
    border-radius: 4px
}
.disk-group-label {
    font-size: 10px
}
.disk-group-label-size {
    font-size: 10px;
    color: #c6d0f5
}
.memory-widget {
    background-color: #e5c890;
    padding: 1;
}
.memory-widget .icon {
    color: #232634;
    padding-right: 6px;
    padding-left: 6px;
}
.memory-widget .label {
    background-color: #232634;
    margin: 1px;
    border-radius: 6px;
    padding: 0 6px;
    color: #e5c890;
    min-width: 50;
}

.clock-widget {
    background-color: #ca9ee6;
    padding: 0;
}
.clock-widget .icon {
    color: #232634;
    padding: 0 6px;
}
.clock-widget .label {
    background-color: #232634;
    color: #ca9ee6;
    padding: 0 6px;
    margin: 1px;
    border-radius: 6px;
}

.calendar {
    background-color: #232634;
}
.calendar .calendar-table,
.calendar .calendar-table::item {
    background-color: #292c3c;
    color: #c6d0f5;
    font-family: 'JetBrainsMono NFP', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 3;
    border: none;
    outline: none;  
}
.calendar .calendar-table::item:selected {
    color: #f2d5cf;
}
.calendar .day-label {
    margin-top: 20px;
}
.calendar .day-label,
.calendar .month-label,
.calendar .date-label {
    font-family: 'JetBrainsMono NFP', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #eebebe;
    font-weight: 700;
    min-width: 180px;
    max-width: 180px;
}
.calendar .month-label {
    font-weight: normal;
}
.calendar .date-label {
    font-size: 88px;
    font-weight: 900;
    color: #f2d5cf;
    margin-top: -20px;
}

.volume-widget {
    background-color: #f4b8e4;
    padding: 0;
}
.volume-widget .icon {
    color: #232634;
    padding: 0 6px;
}
.volume-widget .label {
    background-color: #232634;
    color: #f4b8e4;
    padding: 0 8px;
    margin: 1px;
    border-radius: 6px;
}

.volume-slider {
    border: none;
}
.volume-slider::groove {
    color: #ea999c;
}
.volume-slider::handle{
    color: #ea999c;
} 
.audio-menu {
    background-color:#232634; 
}
.audio-container .device {
    background-color:transparent;
    border: none;
    padding:6px 8px 6px 4px;
    margin: 2px 0;
    font-size: 12px;
    border-radius: 4px;
}
.audio-container .device.selected {
    background-color: #414559;
}
.audio-container .device:hover {
    background-color: #414559;
}

.weather-widget {
    background-color: #99d1db;
    padding: 0;
}
.weather-widget .icon {
    color: #232634;
    padding: 0 6px;
}
.weather-widget .label {
    background-color: #232634;
    color: #99d1db;
    padding: 0 6px;
    margin: 1px;
    border-radius: 6px;
}

.power-menu-widget {
    background-color: #85c1dc;
    padding: 0;
}

.power-menu-widget .label {
    color: #232634;
    padding: 0 8px;
    font-weight: bold;
    font-size: 14px;
}


.brightness-widget {
    background-color: #ef9f76;
    padding: 0;
}
.brightness-widget .icon {
    color: #232634;
    padding: 0 6px;
}
.brightness-widget .label {
    background-color: #232634;
    color: #ef9f76;
    padding: 0 8px;
    margin: 1px;
    border-radius: 6px;
}
.brightness-menu {
    background-color:#232634;
}
.brightness-slider {
    border: none;
    color: #221f2e;
}

.language-widget {
    background-color: #f5c276;
    padding: 0;
}
.language-widget .icon {
    color: #142123;
    padding: 0 6px;
}
.language-widget .label {
    background-color: #221f2e;
    color: #f5c276;
    padding: 0 8px;
    margin: 1px;
    border-radius: 6px;
}


.taskbar-widget {
    background-color: #221f2e;
    padding: 0;
}
.taskbar-widget .app-icon {
    padding: 0 8px;
    border: none;
    margin: 0;
}
.active-window-widget {
    background-color: #a6d189;
    padding: 0;
}
.active-window-widget .label {
    color: #a6d189;
    background-color: #232634;
    padding: 0 8px;
    margin: 1px;
    border-radius: 6px;
}
.active-window-widget .icon {
    padding: 0 8px;
    border: none;
    margin: 0;
    background-color: #a6d189;
}

/*POWER MENU POPUP*/
.uptime {
    font-size: 14px;
    margin-bottom: 10px;
    color: #c6d0f5;
    font-weight: 600;
}
.power-menu-popup {
    background-color: #292c3c;
    border-radius: 12px;

}
.power-menu-popup .button {
    padding: 0;
    width: 180px;
    height: 230px;
    border-radius: 8px;
    background-color: #303446;
    color: #f2d5cf;
    border: 2px solid #737994;
    margin: 0px;
}
.power-menu-popup .button.hover {
    background-color: #1b1925;
}
.power-menu-popup .button .label {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #f2d5cf;

}
.power-menu-popup .button .icon {
    font-size: 64px;
    padding-top: 32px;
    color: #f2d5cf;
}
.power-menu-popup .button.cancel .icon {
    padding: 0;
    margin: 0;
}
.power-menu-popup .button.cancel .label {
    margin: 0;
}

.power-menu-popup .button.cancel {
    height: 32px;
    border-radius: 4px;
    border: none;
    background-color: #232634;
}
.power-menu-popup .button.cancel:hover {
    background-color: #303446;
}


.server-widget {
        background-color: #85c1dc;
    padding: 0;
}
.server-widget .label {
    background-color: #232634;
    margin: 1px;
    border-radius: 6px;
    padding: 0 6px;
    color: #85c1dc;
    min-width: 50;
    
}
.server-widget .icon {
    color: #232634;
    padding: 0 6px;
}
.server-widget .warning .icon {
    color: #232634
}
.server-widget .error .icon {
    color: #232634
}
.server-menu {
    background-color:#232634;
}
.server-menu-header {
    border-bottom: 1px solid #292c3c;
}
.server-menu-header .refresh-time {
    padding-left: 18px;
    padding-bottom: 8px;
    padding-top: 8px;
    font-family: 'JetBrainsMono NFP', Tahoma, Geneva, Verdana, sans-serif;
}
.server-menu-header .reload-button {
    font-size: 16px;
    padding-right: 18px;
    padding-bottom: 8px;
    padding-top: 8px;
    color: #babbf1
}
.server-menu-container {
    background-color:#303446;
} 
.server-menu-container .row {
    font-family: 'JetBrainsMono NFP', Tahoma, Geneva, Verdana, sans-serif;
    max-height: 40px;
    padding:8px;
    border-radius: 6px;
    min-width: 300px;
    border: 1px solid rgba(128, 128, 128, 0);
}
.server-menu-container .row:hover {
    background-color:#303446;
    border: 1px solid #737994;
}
.server-menu-container .name {
    font-size: 14px;
    font-weight: 600;
    padding: 6px 10px 2px 10px;
    color: #838ba7;
    font-family: 'JetBrainsMono NFP', Tahoma, Geneva, Verdana, sans-serif;
}
.server-menu-container .status {
    font-size: 24px;
    padding-right: 10px;
    font-family: 'JetBrainsMono NFP', Tahoma, Geneva, Verdana, sans-serif;
}
.server-menu-container .details {
    font-size: 11px;
    font-weight: 600;
    padding: 2px 10px 6px 10px;
    color: #838ba7;
    font-family: 'JetBrainsMono NFP', Tahoma, Geneva, Verdana, sans-serif;
}
.server-menu-container .row.online .status {
    color: #a6d189
}
.server-menu-container .row.offline .status {
    color: #e78284
}
.server-menu-container .row.warning .status {
    color: #e5c890
}
.server-menu-container .placeholder {
    font-family: 'JetBrainsMono NFP', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #cdd6f4;
    padding:50px 8px;
    min-width: 300px;
    background-color:transparent    
}
.server-menu-overlay {
    background-color: #292c3c;
}
.server-menu-overlay .text{
    padding: 8px;
    font-family: 'JetBrainsMono NFP', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #c6d0f5;
}


.home-widget {
    padding: 0 6px 0 6px;
}
.home-widget .icon {
    color: #babbf1;
}
.home-widget .icon:hover {
    color: #a5adce;
}
.home-menu {
    background-color:#232634; 
}
.home-menu .menu-item {
    padding: 6px 48px 7px 16px;
    font-size: 12px;
    font-family: 'JetBrainsMono NFP', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text); 
    font-weight: 600;
}
.home-menu .menu-item:hover {
    background-color:#949cbb;
    color: #303446;
}
.home-menu .separator {
    max-height: 1px;
    background-color:#51576d;
}